server {
listen 80;
listen [::]:80;
server_name {{ server_name }};
root /var/www/{{ server_name }};
index index.html;
try_files $uri /index.html;
upstream test {
{% for int in upstreams %}
{{ upstreams[int].server }}
{% endfor %}
}